@use "sass:math"
@use "../vars" as vars

svg
  overflow: visible
  position: absolute
  pointer-events: none
  width: 600px
  .animated-connection
    fill: none
    stroke-width: 5px
    stroke: #800080 
    stroke-dasharray: 10, 10
    stroke-linecap: round
    pointer-events: auto
    animation: dashmove 1s linear infinite

@keyframes dashmove
  to
    stroke-dashoffset: -20
